################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/File/ConsoleApplication1.VC.VC.opendb
